<li nz-menu-item><span><a routerLink="/info"><i nz-icon type="info" theme="outline"></i><span class="nav-text">基本信息</span></a> </span></li>
<li nz-menu-item><span><a routerLink="/keywords"><i nz-icon type="key" theme="outline"></i><span class="nav-text">关键词设置</span></a></span></li>
<li nz-submenu>
  <span title><i nz-icon type="picture" theme="outline"></i><span class="nav-text">图片类内容</span></span>
  <ul>
    <li nz-menu-item>Tom</li>
    <li nz-menu-item>Bill</li>
    <li nz-menu-item>Alex</li>
  </ul>
</li>
<li nz-submenu>
  <span title><i nz-icon type="file-word" theme="outline"></i><span class="nav-text">新闻类内容</span></span>
  <ul>
    <li nz-menu-item>Team 1</li>
    <li nz-menu-item>Team 2</li>
  </ul>
</li>
<li nz-submenu>
  <span title><i nz-icon type="file" theme="outline"></i><span class="nav-text">单页类内容</span></span>
  <ul>
    <li nz-menu-item>Team 1</li>
    <li nz-menu-item>Team 2</li>
  </ul>
</li>
<li nz-menu-item><span><i nz-icon type="message" theme="outline"></i><span class="nav-text">查看留言</span></span></li>
<li nz-menu-item><span><i nz-icon type="contacts" theme="outline"></i><span class="nav-text">联系方式</span></span></li>
<li nz-submenu>
  <span title><i nz-icon type="user-add" theme="outline"></i><span class="nav-text">人事招聘</span></span>
  <ul>
    <li nz-menu-item>Team 1</li>
    <li nz-menu-item>Team 2</li>
  </ul>
</li>
<li nz-submenu>
  <span title><i nz-icon type="link" theme="outline"></i><span class="nav-text">友情链接</span></span>
  <ul>
    <li nz-menu-item>Team 1</li>
    <li nz-menu-item>Team 2</li>
  </ul>
</li>
<li nz-menu-item><span><i nz-icon type="rise" theme="outline"></i><span class="nav-text">访问统计</span></span></li>
<li nz-menu-item><span><i nz-icon type="user" theme="outline"></i><span class="nav-text">账号管理</span></span></li>
<li nz-submenu>
  <span title><i nz-icon type="delete" theme="outline"></i><span class="nav-text">回收站</span></span>
  <ul>
    <li nz-menu-item>Team 1</li>
    <li nz-menu-item>Team 2</li>
  </ul>
</li>
